* {
  padding: 0;
  margin: 0;
}

#header {
  background-image: url(Images/Background.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;  
}

.navbar-brand img {
  height: 8vh;
  margin-left: 2%;
  width: 150px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

nav .fa-bars {
  color: #fff;
  font-size: 20px;
}

.navbar-nav li a {
  float: right;
  color: #fff !important;
}

/*-------------------------------------Welcome Text----------------------------------*/

.welcome {
  padding: 50px 100px;
  margin-top: -140px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.welcome h1 {
  color: #333;
}

.welcome .home-btn {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: #013f7e;
}

.welcome .home-btn:focus {
  box-shadow: none;
}

/*-------------------------------------About----------------------------------*/

#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .col-md-6 {
  padding: 20px 10px;
}

#about h3 {
  margin: 20px auto;
}

/*-------------------------------------Service----------------------------------*/

#service {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 80px;
}

#service .col-md-4 {
  padding: 20px;
}

#service .col-md-4 h4 {
  padding: 5px;
}

#service .col-md-4 img {
  width: 50px;
}

#service .col-md-4 p {
  padding: 5px;
  text-align: justify;
}

/*-------------------------------------Feature----------------------------------*/

#feature {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(Images/feature-background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#feature .col-md-6 {
  padding: 20px;
}

.feature-box {
  height: 120px;
}

.feature-box .feature-left {
  height: 120px;
  width: 20%;
  float: left;
}

.feature-box .feature-left .fa,
.fas {
  padding-top: 13px;
  font-size: 50px;
}

.feature-box .feature-right {
  height: 120px;
  width: 80%;
  float: left;
}

.feature-box .feature-right h4 {
  padding-top: 10px;
  padding-left: 15px;
  text-align: left;
}

.feature-box .feature-right p {
  padding-left: 15px;
  text-align: left;
}

/*-------------------------------------Feature----------------------------------*/

#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}

#testimonials .col-md-4 {
  padding-top: 10px 30px;
  padding-right: 30px;
  padding-left: 30px;
}

#testimonials img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: -30px;
  margin-top: -40px;
  border: 5px solid #fff;
  margin-bottom: 30px;
}

.review {
  font-size: 16px;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.2);
}

.review .fa-twitter {
  color: #013f7e;
}

#testimonials span {
  color: #013f7e;
  font-weight: 600;
  font-size: 18px;
}

#testimonials h1 {
  margin-bottom: 20px;
  color: #013f7e;
}

#testimonials p {
  margin-bottom: 50px;
}

#testimonials .middle {
  margin-bottom: 20px;
  margin-top: -20px;
}

/*-------------------------------------Subscribe----------------------------------*/

.subscribe {
  padding: 50px 20px;
  background-color: #013f7e;
  position: relative;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: -160px;
}

.subscribe h3,
.subscribe p {
  color: #fff;
}

.subscribe .input-group {
  border-radius: 30px;
  background: #fff;
  max-width: 500px;
  margin: 10px auto;
  padding: 5px;  
}

.subscribe .form-control {
  border: none;
  background: transparent;
}

.subscribe .form-control:focus {
  box-shadow: none;
  background: transparent;
}

.subscribe .input-group-append {
  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
  border-radius: 30px;
}

.subscribe .input-group-text {
  background: transparent;
  border: none;
  color: #fff;
}

.subscribe .btn:focus {
  box-shadow: none;
}

/*-------------------------------------Subscribe----------------------------------*/

#footer {
  margin-top: 80px;
  padding: 100px;
  background-color: #efefef;
  color: #013f7e;
}

.footer-logo {
  width: 150px;
  margin-top: 25px;
  margin-bottom: 15px;
}

#footer h1 {
  font-size: 15px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

#footer p {
  font-size: 12px;
  text-align: left;
}

#footer .city{
    margin-left: 37px;    
}

#footer .fa, .fab{
    padding-right: 20px;    
    font-size: 15px;
}

#footer hr{
    margin-top: 10px;
}

#footer .fa-heart{
    color: red;
    font-size: 13px;
}

#footer .copyright{
    margin-bottom: -80px;
    text-align: center;
}